<launch>

    <arg name="debug" default="false"/>
    <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find ouster_decoder)/launch/debug.conf"/>

    <arg name="lidar_ns" default="os_node"/>
    <arg name="driver_ns" default="/os_node"/>

    <!-- Gravity at philadelphia from https://www.ngs.noaa.gov/cgi-bin/grav_pdx.prl -->
    <!-- Lat: 39.9526 N, Lon: 75.1652 W, MSL Height: 11.8872, Predicted gravity:  980184 +/- 2 milligals -->
    <arg name="gravity" default="9.80184"/>
    <!-- Divide one scan to 2^div subscans, div=0,1,2 -->
    <arg name="ndiv" default="0"/>
    <!-- Destagger will be disabled if ndiv > 0 or subscan > 1.
    It is strongly advised to set destagger to false. 
    Due to the non-central projection model of the outser lidar, destaggering by pixel offset 
    would still produce artifacts in the range image.
    It is recommended to re-compute a range image from the point cloud if needed -->
    <arg name="destagger" default="false"/>
    <!-- Align each scan to the start (otherwise will start whenever the first packet arrives)
    It is strongly advised to set this to true, otherwise a scan could start at any point in time, 
    which would cause every run to look slightly different from a bag file if start at different tim -->
    <arg name="align" default="true"/>

    <!-- Compatible with ouster_ros  -->
    <arg name="sensor_frame" default="os_sensor"/>
    <arg name="lidar_frame" default="os_lidar"/>
    <arg name="imu_frame" default="os_imu"/>

    <node pkg="ouster_decoder" name="os_decoder" type="ouster_decoder" output="screen" ns="$(arg lidar_ns)">
        <!-- params -->
        <param name="ndiv" type="int" value="$(arg ndiv)"/>
        <param name="align" type="bool" value="$(arg align)"/>
        <param name="gravity" type="double" value="$(arg gravity)"/>
        <param name="destagger" type="bool" value="$(arg destagger)"/>

        <!-- frames -->
        <param name="sensor_frame" type="string" value="$(arg sensor_frame)"/>
        <param name="lidar_frame" type="string" value="$(arg lidar_frame)"/>
        <param name="imu_frame" type="string" value="$(arg imu_frame)"/>

        <!-- input topics -->
        <remap from="~os_config" to="$(arg driver_ns)/os_config"/>
        <remap from="~lidar_packets" to="$(arg driver_ns)/lidar_packets"/>
        <remap from="~imu_packets" to="$(arg driver_ns)/imu_packets"/>

        <!-- output topics -->
        <remap from="~image" to="image"/>
        <remap from="~camera_info" to="camera_info"/>
        <remap from="~cloud" to="cloud"/>
        <remap from="~imu" to="imu"/>
    </node>
</launch>