<launch>

    <arg name="driver" default="os_node"/>

    <node pkg="ouster_decoder" name="os_decoder" type="ouster_decoder" output="screen">
        <remap from="~os_config" to="/os_node/os_config"/>
        <remap from="~lidar_packets" to="/os_node/lidar_packets"/>
        <remap from="~imu_packets" to="/os_node/imu_packets"/>
    </node>
</launch>